input:not([type]), input[type="text"], input[type="email"] {
    height: 25px;
    border: 1px solid #737E83;
    background: white;
    margin: 0 0 5px;
    padding: 3px;
    border-radius: 5px;
    font-size: 14px;
    color: #black;
    background-position: right 6px center;
}



